<ion-view title="Contact" >
    <ion-nav-bar class="bar-nice">
        <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>
         
    </ion-nav-bar>
    <ion-content class="has-header">
	<div class="contact-form">
	<div class="col col-80 col-offset-10">
		<p>
			Vous pouvez nous joindre :
		</p>
		<div class="form-header">
			<h4>
				par téléphone
			</h4>
			<p class="phone-number">
			<i class="icon ion-ios7-telephone"></i>	00 00 00 00 00
			</p>
		</div>
		<div class="form-body">
			<h4>par message</h4>
			<div class="list">
 
	  <label class="item item-input item-stacked-label form-nice">
    <span class="input-label">Nom</span>
    <input type="text" placeholder="">
  </label>
  <label class="item item-input item-stacked-label form-nice">
    <span class="input-label">Prénom</span>
    <input type="text" placeholder="">
  </label>
  <label class="item item-input item-stacked-label form-nice">
    <span class="input-label">Téléphone</span>
    <input type="text" placeholder="">
  </label>
  <label class="item item-input item-stacked-label form-nice">
    <span class="input-label">Email</span>
    <input type="text" placeholder="">
  </label>
  <label class="item item-input item-stacked-label form-nice">
    <span class="input-label">Société</span>
    <input type="text" placeholder="">
  </label>
  <label class="item item-input item-stacked-label form-nice">
    <span class="input-label">Secteur d’activité</span>
    <input type="text" placeholder="">
  </label>
  <label class="item item-input item-stacked-label form-nice">
<span class="input-label"> </span>
     
    <textarea  rows="5" placeholder="Message..."></textarea>
  </label>

  <a class="button button-block button-nice" ng-href="#/app/group/1"> envoyer </a>

</div>
</div>
		</div>
	</div>
    </ion-content>
</ion-view>
