<ion-view title="Substrat" ng-controller="GroupDetailCtrl">
    <ion-nav-bar class="bar-nice">
        <ion-nav-back-button class="button button-white button-icon icon ion-ios7-arrow-back"></ion-nav-back-button>
        <ion-nav-buttons side="right">

            <a class="button button-white button-icon icon ion-home" href="#/app">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-subheader="false" class="has-header">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <h1 class="group-title">
            Choisissez le substrat
          </h1>
                <div class="home-button">
                <div class="" ng-repeat="x in groupData.questions">
                <div class="" ng-if="x.visible === 'false'">
                    <a class="button button-block button-nice button-disable">{{x.name}}</a>
                </div>
                <div class="" ng-if="x.visible === 'true'">
                    <a class="button button-block button-nice"  ng-href="#/app/question/{{groupData.id}}/{{x.id}}">{{x.name}}</a>
                </div>

                </div>


                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
