<ion-view title="Classe" ng-controller="GroupsCtrl">
    <ion-nav-bar class="bar-nice">
        <ion-nav-back-button class="button button-white button-icon icon ion-ios7-arrow-back"></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button button-white button-icon icon ion-help" href="#/app">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-subheader="false" class="has-header">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <h1 class="group-title">
            Choisissez le substrat
          </h1>
                <div class="home-button">
                    <a class="button button-block button-nice" ng-href="#/app/group/1">C3 H</a>
                    <a class="button button-block button-nice" ng-href="#/app/group/2">c4 h</a>
                    <a href="#" class="button button-block button-nice" ng-href="#/app/group/3">c5 I</a>
                    <a href="#" class="button button-block button-nice" ng-href="#/app/group/4">c5 M</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
