<ion-side-menus>

  <ion-pane ion-side-menu-content class="main-view">
    
    <ion-nav-view name="mainContent"  animation="slide-left-right">

<ion-content has-subheader="false" class="has-header">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <div class="main-logo">
                    <img src="img/logo.png" class="main-logo img-center img2x" alt="">
                </div>
                <div class="home-button">
                    <a class="button button-block button-nice" ng-href="#/app/groups">
                        <p class="text-link">
                            trouver votre
                            <br> système de peinture
                        </p>
                    </a>
                    <a class="button button-block button-nice">
  site web
</a>
                    <a class="button button-block button-nice">
  contact
</a>
                </div>
            </div>
        </div>
    </ion-content>

    </ion-nav-view>
        


  </ion-pane>

 

</ion-side-menus>