<ion-view title="Résultat" ng-controller="QuestionCtrl">
    <ion-nav-bar class="bar-nice">
        <ion-nav-back-button class="button button-white button-icon icon ion-ios7-arrow-back"></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button button-white button-icon icon ion-home" href="#/app">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header has-footer">

<div class="button-bar sub-bar-nice">
  <a class="button" href="#/app/group/{{ groupData.id }}">{{ groupData.name }}</a>
  <a class="button" href="#/app">Acier</a>
</div>

<div class="question-detail">
	<div class="col-100 col ">
		<p class="question">
		{{questions.descrip}}
	</p>
	</div>
	<div class="result">
		<div class="col col-80 col-offset-10">

            <button ng-repeat="x in questions.results" ng-model="button" ng-click="button.clicked=!button.clicked" ng-class="button.clicked?'button-balanced':'button-clean'" class="button button-block button-clean">
  {{x.name}}
</button>
		</div>
	</div>
	<div class="email-subriber">
		<div class="col">
			<p>
			Vous pouvez vous envoyer les systèmes par mail
en cliquant sur le bouton ci-dessous.
		</p>
		<ion-checkbox ng-model="isChecked" class="nice-checkbox">S’inscrire à la newsletter</ion-checkbox>
		</div>
	</div>
</div>

    </ion-content>
<div class="bar bar-footer bar-nice">
  <div class="title">RECEVOIR LES RÉSULTATS</div>
</div>
</ion-view>
