<ion-view ng-controller="GroupsCtrl as vm">
  <ion-content class="has-header">
    <div class="list">
        <a class="item item-icon-right" ng-repeat="group in vm.groups" ng-click="vm.selectGroup(group.id)">
            {{group.name}}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>
  </ion-content>
</ion-view>