<div ng-controller="HomeCtrl">
    <div class="bar bar-header bar-nice">
        <h1 class="title"> {{ pageTitle }} </h1>
    </div>
    <ion-content has-subheader="false" class="has-header">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <div class="main-logo">
                    <img src="img/logo.png" class="main-logo img-center img2x" alt="">
                </div>
                <div class="home-button">
                    <a class="button button-block button-nice" ng-href="#/app/groups">
                        <p class="text-link">
                            trouver votre
                            <br> système de peinture
                        </p> 
                    </a>
                    <a class="button button-block button-nice" href="http://aftap.fr/">
  site web
</a>
                    <a class="button button-block button-nice" ng-href="#/app/contact">
  contact 
</a>
                </div>
            </div>
        </div>
    </ion-content>
</div>
