<ion-view title="Résultat" ng-controller="GameCtrl as vm">
    <ion-nav-bar class="bar-nice">
        <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear icon ion-home" ng-click="reset()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header">
    </ion-content>
</ion-view>
