/* Empty. Add your own CSS if you like */


body *{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
}

.scroll {
  height: 100%;
}

.angular-google-map-container {
    display: block;
    width: 100%;
    height: 100%;
}


.angular-google-map {
    display: block;
    width: 100%;
    height: 100%;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
}

.bar-nice {
    background: #547d9c;

}
.bar-nice .title {
    color: #fff;
    font-weight: bold;
}
.button-nice {
    background: #2b4050;
    border: 1px solid #2b4050;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    
}
.button-nice:hover{
    color: #fff;
}
.button-nice.activated{
    background: #0d1820;
}
.home-button .button-nice {
    margin-bottom: 25px;
}
.text-link {
    padding-top: 5px;
    line-height: 1.2;
}
.main-logo {
    width: 175px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 22px;
}
.group-title {
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 30px
}
.button-white {
    color: #fff;
}
.main-view  {
    background:  url(../img/bg.png) no-repeat;
    background-size: cover;
}
.main-view .pane {
    background: none !important;
}
.button-clean {
    background: none;
    border: 3px solid #547d9c;
    color: #547d9c;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.nice-checkbox {
    background: none;
}
.checkbox-icon:before {
    background: none;
}
.item-input {
    padding-left: 0px;
    padding-right: 0px;
    border: 0px solid #fff;

}
.contact-form .item-input input, .contact-form .item-input textarea {
    border-radius: 5px;
    border: 1px solid #2b4050 
}
.contact-form {
    padding-top: 10px
}
.contact-form h4 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.contact-form p {
    font-size: 19px;
    margin-bottom: 20px
}
.contact-form .phone-number {
    position: relative;
    padding-left: 35px;

}
.contact-form .phone-number i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 0px;
    color: #2b4050;
}
.button.button-disable {
    background: none;
    color: #2b4050;
    border: 1px solid #2b4050;

}

.question-detail{
    margin-top: 20px;
}
.button-bar.sub-bar-nice .button {
     background: transparent;
    border-color: #547d9c;
    color: #547d9c;
    font-weight: bold;
}